@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --fontFamily: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: var(--fontFamily);
}

::-webkit-scrollbar {
    width: 0;
}

.moon {
    font-size: 30px;
    position: fixed;
    top: 30px;
    right: 50px;
    cursor: pointer;
    z-index: 999;
}

.sun {
    font-size: 30px;
    position: fixed;
    top: 30px;
    right: 50px;
    cursor: pointer;
    visibility: hidden;
    z-index: 999;
}

.nightmode {
    background-color: black;
    color: white;
    transition: .5s;
}

.lightmode {
    background-color: white;
    color: black;
    transition: .5s;
}

.a-lightmode {
    color: black !important;
    background-color: white;
}

.a-darkmode {
    color: white !important;
    background-color: black;
}

.herosection {
    position: relative;
    width: 100vw;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    z-index: 10;
}

.float {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    z-index: -1;
    border-radius: 50%;
    animation: 5s float ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-txt {
    width: 700px;
    z-index: 999;
}

.hero-txt h1 {
    font-size: 80px;
    text-transform: capitalize;
    text-align: center;
}

.hero-txt p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 60px;
}

button {
    display: block;
    margin: auto;
    padding: 15px;
    width: 200px;
    background-color: black;
    color: white;
    border: 1px solid;
    cursor: pointer;
    font-family: var(--fontFamily);
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
}

button:hover {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .hero-txt {
        width: 90vw;
    }
    .hero-txt h1 {
        font-size: calc(3.5vh + 3.5vw);
    }
    .herosection {
        border: 1px solid;
        height: 100vh;
    }
}

@media (max-width: 600px) {
    p {
        font-size: 16px;
    }
    .float {
        width: 200px;
        height: 200px;
    }
}